@use "styles/mixins" as *;

.errorText {
  @include flex-center;
  height: 100%;
  color: var(--grey-400);
  font-size: var(--font-size-md);
}

.loadingWrap {
  @include flex-center;
  height: 100%;
}
