@use "styles/mixins" as *;

.container {
  flex: 1;
  height: 100%;
  @include flex-col-center(8px);
  background-color: var(--grey-100);
}

.emoji {
  font-size: 36px;
}

.title {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--grey-500);
}

.titleError {
  color: var(--error);
}

.desc {
  font-size: var(--font-size-xs);
  color: var(--grey-400);
}
