@use "styles/mixins" as *;

.container {
  padding: var(--space-lg) var(--space-xl);
}

.thumbnailWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: var(--radius-xl);
  margin-top: var(--space-sm);
  background-color: var(--grey-100);
  overflow: hidden;
}

.thumbnail {
  object-fit: cover;
}

.description {
  background-color: var(--grey-100);
  padding: var(--space-lg);
  border-radius: var(--radius-xl);
  margin-top: var(--space-lg);
  margin-bottom: var(--space-sm);
  font-size: var(--font-size-md);
  line-height: 1.625;
  color: var(--grey-500);
}
