@use "styles/mixins" as *;

.page {
  @include page-base;
}

.content {
  padding: 16px 20px;
  color: var(--grey-700);
}

.h2 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  color: var(--grey-900);
  margin-bottom: var(--space-md);
}

.h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--grey-900);
  margin-bottom: var(--space-sm);
}

.p {
  font-size: var(--font-size-md);
  line-height: 1.625;
  margin-bottom: var(--space-lg);
}

.footer {
  font-size: var(--font-size-xs);
  color: var(--grey-400);
  margin-top: var(--space-3xl);
}
