@use "styles/mixins" as *;

.dayButton {
  @include flex-col-center;
  padding: var(--space-xs) 0;
  border-radius: var(--radius-md);
  transition: background-color 0.1s;
}

.dayNumber {
  @include icon-box(32px);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--grey-800);
}

.dayNumberSelected {
  background-color: var(--primary);
  color: var(--white);
  font-weight: var(--font-weight-bold);
}

.dayNumberToday {
  color: var(--primary);
  font-weight: var(--font-weight-bold);
}

.dayNumberSun {
  color: var(--error);
}
.dayNumberSat {
  color: var(--primary);
}

.dots {
  @include flex-row(2px);
  margin-top: var(--space-2xs);
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: var(--radius-pill);
}

.dotSelected {
  background-color: var(--white);
}
